@cg-purple:	rgb(220, 103, 255);
@cg-blue: rgb(75,194,251);
@cg-light-blue:rgb(41,254,233);
@cg-gray: rgb(85,86,102);
@cg-light-blue: rgb(134,203,251);
@cg-pink: rgb(241,99,206);
@cg-bright-pink: rgb(255,0,128);
@cg-light-pink: rgb(237,195,254);
@cg-lavender: rgb(208,184,254);
@cg-dark-purple: rgb(62,2,115);
@cg-light-purple: rgb(159,125,200);
@cg-white: rgb(255,255,255);
@cg-fuschia: rgb(149,36,146);
@cg-fuschia-bg: rgb(113,0,56);
@cg-black: rgb(0,0,0);
@cg-sherbet-orange: rgb(255,119,119);
@cg-salmon: rgb(255,119,119);
@cg-bubble-gum: #ff7dc7;
@cg-pop-props-pink: rgb(255,170,247);
@cg-saturated-pink: #f96ccb;
